@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "/node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "/node_modules/leaflet/dist/leaflet.css";
@import "/node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.css";

@import "/node_modules/sofiatraffic-library/common.scss";

:root {
    --marker-outer-size: 25px;
    --marker-inner-size: 9px;
    --top-right-distance-inner-dot: calc((var(--marker-outer-size) - var(--marker-inner-size)) / 2);
}

#left_panel {
    z-index: 1100;
    background-color: #fff;
    max-width: 250px;;
}

.vehicle-tram > svg {
    fill: var(--tram-color);
}

.vehicle-trolley > svg {
    fill: var(--trolley-color);
}

.vehicle-bus > svg {
    fill: var(--bus-color);
}

.table-container {
    overflow-y: auto;
}

.lh-100 {
    line-height: 100%;
}

.svg_text {
    font-weight: bold; 
    font-family: sans-serif;
    fill: #fff;
    text-align: center;
    vertical-align: middle;
}

.svg_small {
    font-size: 16px;
}

.svg_large {
    font-size: 18px;
}

.leaflet-popup-content {
    margin: 10px 5px;
}

.vehicle-btn {
    min-width: 50px;
    margin: 2px;
    
}

.icon {
    width: 18px;
    height: 18px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: sub;
    display: inline-block;
}

.tram-icon {
    background-image: url('/src/images/tram.png');
}

.trolley-icon {
    background-image: url('/src/images/trolley.png');
}

.bus-icon {
    background-image: url('/src/images/bus.png');
}

